<h1>roll the dice</h1>

<h2>step 1</h2>
  <% dice1 = rand (6) %>
  <% dice2 = rand (6) %>
    <p><%= dice1 %> & <%= dice2 %></p>

<h2>step 2</h2>
    <p><img src="http://kiei925.com/images/dice/<%= dice1 %>.png" alt="dice1" width=100><img src="http://kiei925.com/images/dice/<%= dice2 %>.png" alt="dice2" width=100></p>

